.itens {
  display: none;
  margin-top: 5px;
  transition: 2s;
}

.titulo {
  font-size: 1.3rem;
  font-weight: bold;
}

.detalhes:hover {
  text-decoration: underline;
}

.totalItem {
  font-weight: bold;
  color: green;
}

.totalItem:hover {
  font-size: 1.3rem;
}
