.titulo {
    font-size: 2em;
}

.carrinho {
    float: right;
    font-size: 2.5em;
}

.adicionarItem {
    float:right;
}

.qtdItem {
    margin-right: 20px;
}

.finalizarPedido {
    float:right;
}

.tituloItens {
    font-size: 2em;
    margin-top: 30px;
}

.tabelaDeItens {
    width: 100%;
    margin-top: 10px;
}

.tituloRodape {
    font-size: 1.4rem;
}

.labelTotal {
    color: green;
}

.qtdeItem {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.botaoMais {
    display: inline-block;
    background: #fff;
    border: none;
    padding:4px;
}

.botaoMais:hover {
    background-color: #A9A9A9;
    color: #FFF;
}

.botaoMenos:hover {
    background-color:#A9A9A9 ;
    color: #FFF;
}

.botaoMenos {
    display: inline-block;
    background: #fff;
    border: none;
    padding:4px;
}

.itens {
    font-size: 1.3rem;
}

