.cliente {
    color: #FFF;
}
.menuItem {
    margin-top: 15px;
    font-size: 1.6em;
    text-decoration: none;
    margin-right: 15px;
    color: #C9C9C9;
}

.menuItem:hover {
    color: #FFF;
}

.menu {
    height: 100px;
}
