<div class="container inicio">
    <div clas="jumbotron row">  
        <div class="col col-lg-12">
            <img src="./assets/imagens/controleEstoqueHome.png" width="100%" height="400"> 
        </div>
    </div>
    <div class="row">
        <h1> Controle de estoque </h1>
    </div>
    <br/>
    <div class="row"> 
        <div class="col-md-4">
            <h2> Produtos </h2>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/imagens/ProdutosIcone.png" alt="Card image cap" width="286" height="250">
                <div class="card-body corpo">
                  <p class="card-text">  Cadastro de Produtos</p>
                  <p class="card-text">  Listagem de Produtos</p>
                  <p class="card-text">  Alteração de Produtos</p>
                  <p class="card-text">  Exclusão de Produtos</p>
                  <p class="card-text">  Acompanhamento do estoque </p>
                </div>
                <div class="row">
                    <button class="btn btn-primary botao">Ver</button>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <h2> Clientes </h2>
            <div class="card">
                <img class="card-img-top" src="./assets/imagens/ClienteIcone.png" alt="Card image cap" width="286" height="250">
                <div class="card-body">
                  <p class="card-text">  Cadastro de Clientes</p>
                  <p class="card-text">  Listagem de Clientes</p>
                  <p class="card-text">  Alteração de Clientes</p>
                  <p class="card-text">  Exclusão de Clientes</p>
                  <p class="card-text">  Acompanhamento dos Pedidos de cada Um </p>
                </div>
                <div class="row">
                    <button class="btn btn-primary botao">Ver</button>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <h2> Pedidos </h2>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/imagens/Pedido.png" alt="Card image cap" width="286" height="250">
                <div class="card-body">
                  <p class="card-text">  Efetuar Pedidos </p>
                  <p class="card-text">  Acompanhar entrada e saída de produtos</p>
                </div>
                <div class="row">
                    <button class="btn btn-primary botao">Ver</button>
                </div>
              </div>
        </div>
    </div>
</div>

<br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>